In [1]:
# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/Nikkidata/ren/csv/NewFolder2/RRDai.csv")

C:\Users\mb95424\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (7,13,16,19,45,51,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
Pro_mapping={'已还清': 1, '还款中': 2, '已流标': 3, '已垫付': 4}
df['ProjectStatus'] = df['ProjectStatus'].map(Pro_mapping)

In [4]:
dfa = df[df['ProjectStatus'].isin([4])]

In [5]:
dfb = df[df['ProjectStatus'].isin([1])]

In [10]:
#未还清的分数分布
a = dfa['CreditScore'].value_counts()

In [11]:
a.to_csv("D:/Nikkidata/ren/csv/a.csv")

In [12]:
#已还清的分数分布
b = dfb['CreditScore'].value_counts()

In [13]:
b.to_csv("D:/Nikkidata/ren/csv/b.csv")

In [18]:
rat_mapping={'AA': 1, 'A': 2, 'B': 3, 'C': 4, 'D': 5, 'E': 6, 'HR': 7}
df['CreditRating'] = df['CreditRating'].map(rat_mapping)

In [ ]:
import seaborn as sns
sns.set_context(font_scale=2)

plt.figure(figsize=(30,20))
# Subset to the buildings with most measurements and remove outliers
subset = df[(df['CreditScore'] < 500)]

# Linear Plot of Energy Star Score vs EUI
sns.lmplot('CreditRating', 'CreditScore', 
           data = df, hue = 'ProjectStatus', 
           scatter_kws={'alpha': 0.8, 's': 32}, fit_reg=False, 
           size = 12, aspect = 1.2)

plt.title('CreditRating vs CreditScore', size = 24)
plt.legend()

C:\Users\mb95424\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(
C:\Users\mb95424\anaconda3\lib\site-packages\seaborn\regression.py:581: UserWarning: The `size` parameter has been renamed to `height`; please update your code.
  warnings.warn(msg, UserWarning)

In [3]:
df1 = pd.read_csv("D:/Nikkidata/ren/csv/HR.csv")

C:\Users\mb95424\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df2 = pd.read_csv("D:/Nikkidata/ren/csv/AA.csv")

In [7]:
df2.count()

Unnamed: 0            583148
ID                    583148
ProjectNo             583148
CertifiMark           583148
ProjectTitle          583147
BorrowType            581993
BidAmount             583148
PubTime               583148
LoanTime               13965
APR                   583148
RepaymentPeriod       583148
GuaranteeWays         583148
PrerepaymentFee       583148
RepaymentWays         583148
RepaySource                0
Bidders               583148
RemainningPeriods     583148
RepaymentDay               0
BidProgress           583148
ProjectStatus         583148
CloseTime              10703
UserNo                583148
Nickname              583085
UserName              583099
Sex                   583148
Idno                  583078
CreditScore           583148
CreditRating          583148
Birthday              583145
Age                   583145
Education             511272
MaritalStatus         564335
LoanNumbers           583148
Credits               583148
DefaultAmount         583148
SuccessfulNum         583148
TotalAmount           583148
DefaultTimes          583148
PaidOffTimes          583148
PrinAndInterest       583148
SeriousDefaultLoan    583148
Income                435232
hasHouse              583148
houseLoan             583148
hasCar                583148
carLoan               583148
JobType               562241
CompanyIndustry       401637
CompanySize           401648
CompanyPosition       405931
ResidenceCity         540382
WorkingHour           401816
OthDebt                    0
LoanDesc              583148
AdvanceAmount         583148
AdvanceTime             4893
MagFinInfo            583148
RepAbiInfo            583148
ComPInfo              583148
AcquisitionTime       583148
dtype: int64

In [5]:
df['ProjectStatus'].value_counts()

已还清    3942001
还款中    3940112
已流标     582943
已垫付       4176
Name: ProjectStatus, dtype: int64

In [5]:
df1.to_csv("D:/Nikkidata/ren/csv/default.csv")

In [6]:
aa = df.tail(10001)

In [7]:
aa.to_csv("D:/Nikkidata/ren/csv/tail10001.csv")

In [10]:
dfa = df[df['CreditRating'].str.contains('HR')]

In [11]:
dfa.to_csv("D:/Nikkidata/ren/csv/HR.csv")

In [15]:
dfa.count()

ID                    583148
ProjectNo             583148
CertifiMark           583148
ProjectTitle          583147
BorrowType            581993
BidAmount             583148
PubTime               583148
LoanTime               13965
APR                   583148
RepaymentPeriod       583148
GuaranteeWays         583148
PrerepaymentFee       583148
RepaymentWays         583148
RepaySource                0
Bidders               583148
RemainningPeriods     583148
RepaymentDay               0
BidProgress           583148
ProjectStatus         583148
CloseTime              10703
UserNo                583148
Nickname              583085
UserName              583099
Sex                   583148
Idno                  583078
CreditScore           583148
CreditRating          583148
Birthday              583145
Age                   583145
Education             511272
MaritalStatus         564335
LoanNumbers           583148
Credits               583148
DefaultAmount         583148
SuccessfulNum         583148
TotalAmount           583148
DefaultTimes          583148
PaidOffTimes          583148
PrinAndInterest       583148
SeriousDefaultLoan    583148
Income                435232
hasHouse              583148
houseLoan             583148
hasCar                583148
carLoan               583148
JobType               562241
CompanyIndustry       401637
CompanySize           401648
CompanyPosition       405931
ResidenceCity         540382
WorkingHour           401816
OthDebt                    0
LoanDesc              583148
AdvanceAmount         583148
AdvanceTime             4893
MagFinInfo            583148
RepAbiInfo            583148
ComPInfo              583148
AcquisitionTime       583148
dtype: int64

In [12]:
dfb = df[df['CreditRating'].str.contains('AA')]

In [13]:
dfb.to_csv("D:/Nikkidata/ren/csv/AA.csv")

In [14]:
dfb.count()

ID                    667221
ProjectNo             667221
CertifiMark           667221
ProjectTitle          666496
BorrowType            667221
BidAmount             667221
PubTime               667221
LoanTime              666205
APR                   667221
RepaymentPeriod       667221
GuaranteeWays         667221
PrerepaymentFee       667221
RepaymentWays         667221
RepaySource           665448
Bidders               667221
RemainningPeriods     667221
RepaymentDay          597134
BidProgress           667221
ProjectStatus         667221
CloseTime              69751
UserNo                667221
Nickname              667221
UserName              667221
Sex                   667221
Idno                  667221
CreditScore           667221
CreditRating          667221
Birthday              667221
Age                   667221
Education             667221
MaritalStatus         664340
LoanNumbers           667221
Credits               667221
DefaultAmount         667221
SuccessfulNum         667221
TotalAmount           667221
DefaultTimes          667221
PaidOffTimes          667221
PrinAndInterest       667221
SeriousDefaultLoan    667221
Income                667221
hasHouse              667221
houseLoan             364603
hasCar                667221
carLoan               361227
JobType                 1469
CompanyIndustry       666893
CompanySize            14283
CompanyPosition        14278
ResidenceCity          14176
WorkingHour            14292
OthDebt               654986
LoanDesc              667221
AdvanceAmount         667221
AdvanceTime                1
MagFinInfo            667221
RepAbiInfo            667221
ComPInfo              667221
AcquisitionTime       667221
dtype: int64

In [16]:
dfc = pd.read_csv("D:/Nikkidata/ren/csv/default.csv")

In [ ]:
dfc.count()

In [2]:
df = pd.read_csv("D:/Nikkidata/ren/csv/RRDAI1.csv")

C:\Users\mb95424\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (8,30,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
df.tail()

,CertifiMark,BidAmount,PubTime,APR,RepaymentPeriod,GuaranteeWays,RepaySource,Bidders,ProjectStatus,Sex,...,CompanyIndustry,CompanySize,CompanyPosition,ResidenceCity,WorkingHour,OthDebt,ID,BidIncomeRation,PaidOffTotalRation,SuccessTotalRation
7542140,2,17000,2016-10-08 13:38:28,10.0,6,1,NaN,11,1,1,...,政府机关,2.0,所长,云南,4.0,2.0,7542140,4.857143,0.750000,0.750000
7542141,2,12000,2016-09-30 17:25:23,12.0,12,1,NaN,13,1,2,...,建筑工程,4.0,供桩部主管,陕西,4.0,2.0,7542141,3.428571,0.666667,0.666667
7542142,2,19000,2016-10-08 17:10:10,12.0,12,1,NaN,22,1,2,...,交通运输业,5.0,高级线路工,陕西,4.0,2.0,7542142,2.533333,1.000000,1.000000
7542143,2,30000,2016-10-08 17:30:50,11.0,12,1,NaN,23,1,2,...,金融/法律,5.0,业务经理,广东,2.0,2.0,7542143,2.000000,1.000000,1.000000
7542144,2,8000,2016-10-12 16:50:25,11.0,6,1,NaN,9,1,2,...,政府机关,2.0,海事局综合业务股长,湖南,5.0,2.0,7542144,2.285714,1.000000,1.000000

In [4]:
df = df.drop(columns=['Unnamed: 0.1','Unnamed: 0'])

In [5]:
df['CertifiMark'].value_counts()

实地认证标    7166484
信用认证标     346100
机构担保标      29472
智能理财标         89
Name: CertifiMark, dtype: int64

In [6]:
cer_mapping={'实地认证标': 1, '信用认证标': 2,'机构担保标': 3, '智能理财标': 4 }
df['CertifiMark'] = df['CertifiMark'].map(cer_mapping)

In [7]:
gua_mapping={'用户利益保障机制': 1, '暂无': 0}
df['GuaranteeWays'] = df['GuaranteeWays'].map(gua_mapping)

In [8]:
sex_mapping={'男': 2, '女': 1}
df['Sex'] = df['Sex'].map(sex_mapping)

In [9]:
Rep_mapping={'其他': 1, '经营收入': 2, '财产收入': 3, '工资': 4,'工资收入': 4}
df['RepaySource'] = df['RepaySource'].map(Rep_mapping)

In [10]:
Mar_mapping={'丧偶': 1, '离异': 2, '未婚': 3, '已婚': 4}
df['MaritalStatus'] = df['MaritalStatus'].map(Mar_mapping)

In [11]:
Hou_mapping={'空': 0, '无房产': 0, '有房产': 2}
df['hasHouse'] = df['hasHouse'].map(Hou_mapping)

In [12]:
Loa_mapping={'无房贷': 0, 'False': 0, '有房贷': 1}
df['houseLoan'] = df['houseLoan'].map(Loa_mapping)

In [13]:
car_mapping={'空': 0, '无车产': 0, '有车产': 2}
df['hasCar'] = df['hasCar'].map(car_mapping)

In [14]:
CLoa_mapping={'无车贷': 0, 'False': 0, '有车贷': 1}
df['carLoan'] = df['carLoan'].map(CLoa_mapping)

In [15]:
Pro_mapping={'已还清': 1, '还款中': 2, '已流标': 3, '已垫付': 4}
df['ProjectStatus'] = df['ProjectStatus'].map(Pro_mapping)

In [16]:
wor_mapping={'1年（含）以下': 1,', 1年（含）以下': 1,'1年（含）以下, 1年（含）以下': 1,'1年（含）以下,': 1,'1年（含）以下 ,': 1,'1??????': 1,
             '1-3年（含）': 2, '1-3年（含）, 1-3年（含）': 2,', 1-3年（含）': 2,'1-3年（含）,': 2,'1-3年（含） ,': 2,'1-3年（含）,,': 2,'1-3????': 2,
             '3-5年（含）': 4, '3-5年（含）, 3-5年（含）': 4,', 3-5年（含）': 4,'3-5年（含）,': 4,'3-5????': 4,
             '5年以上': 5, '5年以上, 5年以上': 5, ', 5年以上': 5, '5年以上,': 5, '5年以上 ,': 5, '5???': 5, '5年以上, 5年以上, 5年以上': 5}
df['WorkingHour'] = df['WorkingHour'].map(wor_mapping)

In [17]:
Com_mapping={'10人以下': 1,', 10人以下': 1,'10人以下, 10人以下': 1,'10人以下,': 1,'10人以下, 10人以下, 10人以下': 1,'10人以下 , 10人以下': 1,'10???': 1,'10人以下 ,': 1,
             '10-100人': 2, '10-100人, 10-100人': 2,', 10-100人': 2,'10-100人,': 2,'10-100?': 2,'10-100人 ,': 2,'10-100人,,': 2,
             '100-500人': 4, '100-500人, 100-500人': 4,', 100-500人': 4,'100-500人,': 4,'100-500人 ,': 4,
             '500人以上': 5, '500人以上, 500人以上': 5, ', 500人以上': 5, '500以上': 5, '500人以上,': 5, '500???': 5,'500人以上 ,': 5}
df['CompanySize'] = df['CompanySize'].map(Com_mapping)

In [18]:
edu_mapping={'高中或以下': 1,', 高中或以下': 1,'高中或以下,': 1,'大专, 高中或以下': 1,'高中或以下, 大专': 1,'高以下': 1,'高中或以下, 研究生或以上': 1,
             '大专': 2, ', 大专': 2,'大专,': 2,'专科': 2,'本科, 大专': 2,'大专, 短期周转': 2,'大专, 本科': 2,
             '本科': 4, ', 本科': 4,'本科,': 4,'本科, 本科': 4,
             '研究生或以上': 5, '研究生或以上,': 5, ', 研究生或以上': 5}
df['Education'] = df['Education'].map(edu_mapping)

In [19]:
Inc_mapping={'1000元以下': 1000, '1000元以下,': 1000, ',1000元以下': 1000, '1001-2000元, 1001-2000元,': 1000, ', 1001-2000元': 1000, 
             '2000元以下': 2000, '2000元以下': 2000, '2000元以下': 2000, '1001-2000元': 2000, 
             '2000-5000元': 3500, '2000-5000元 ,': 3500, '2000-5000元,': 3500, ', 2000-5000元': 3500, '2000-5000元, 2000-5000元': 3500, ', 2000-5000元': 3500, 
             '5000-10000元': 7500, '5000-10000?': 7500, '5000-10000元,': 7500, '5000-10000元 ,': 7500, '5000-10000元, 5000-10000元': 7500, ', 5000-10000元': 7500, 
             '10000-20000元': 15000,'10000-20000元,,': 15000,'10000-20000元?': 15000,'10000-20000元 ,': 15000,'10000-20000元,': 15000,', 10000-20000元': 15000,'10000-20000元, 10000-20000元': 15000,
             '20000-50000元': 35000,'20000-50000元,': 35000,'20000-50000元 ,': 35000,', 20000-50000元': 35000,'20000-50000元, 20000-50000元': 35000,
             '50000元以上': 50000, '50000元以上 ,': 50000, ', 50000元以上': 50000, '50000元以上, 50000元以上,': 50000,}
df['Income'] = df['Income'].map(Inc_mapping)

In [20]:
Oth_mapping={'有': 2, '无': 1}
df['OthDebt'] = df['OthDebt'].map(Oth_mapping)

In [21]:
df['OthDebt'] = df['OthDebt'].fillna(2)

In [23]:
df.dtypes

CertifiMark             int64
BidAmount               int64
PubTime                object
APR                   float64
RepaymentPeriod         int64
GuaranteeWays           int64
RepaySource           float64
Bidders                 int64
ProjectStatus           int64
Sex                     int64
CreditScore             int64
CreditRating           object
Age                   float64
Education             float64
MaritalStatus         float64
LoanNumbers             int64
Credits                 int64
DefaultAmount         float64
SuccessfulNum           int64
TotalAmount             int64
DefaultTimes          float64
PaidOffTimes            int64
SeriousDefaultLoan      int64
Income                float64
hasHouse              float64
houseLoan             float64
hasCar                float64
carLoan               float64
JobType                object
CompanyIndustry        object
CompanySize           float64
CompanyPosition        object
ResidenceCity          object
WorkingHour           float64
OthDebt               float64
dtype: object

In [38]:
df.count()

CertifiMark           7521987
BidAmount             7521987
PubTime               7521987
APR                   7521987
RepaymentPeriod       7521987
GuaranteeWays         7521987
RepaySource           6525998
Bidders               7521987
ProjectStatus         7521987
Sex                   7521987
CreditScore           7521987
CreditRating          7521987
Age                   7521987
Education             1472931
MaritalStatus         6936287
LoanNumbers           7521987
Credits               7521987
DefaultAmount         7521987
SuccessfulNum         7521987
TotalAmount           7521987
DefaultTimes          7521984
PaidOffTimes          7521987
SeriousDefaultLoan    7521987
Income                7521987
hasHouse              7521935
houseLoan             4861954
hasCar                7521936
carLoan               4852653
JobType                640627
CompanyIndustry       7486028
CompanySize           1353609
CompanyPosition       1353482
ResidenceCity         1374418
WorkingHour           1361270
OthDebt               7521987
ID                    7521987
BidIncomeRation       7521987
PaidOffTotalRation    7521987
SuccessTotalRation    7521987
dtype: int64

In [25]:
df['ID'] = range(len(df))

In [26]:
df = df[(df.Age > 17)]

In [27]:
df = df[(df.Age < 100)]

In [30]:
df['BidIncomeRation'] = df.BidAmount / df.Income

In [31]:
df =df[(df.BidIncomeRation >= 0)]

In [34]:
df['PaidOffTotalRation'] = df.PaidOffTimes / df.LoanNumbers

In [35]:
df['SuccessTotalRation'] = df.SuccessfulNum / df.LoanNumbers

In [36]:
df =df[(df.PaidOffTotalRation >= 0)&(df.PaidOffTotalRation <= 1)]

In [37]:
df =df[(df.SuccessTotalRation >= 0)&(df.SuccessTotalRation <= 1)]

In [40]:
df.to_csv("D:/Nikkidata/ren/csv/RRDAI_01.csv")

In [41]:
print(df['PubTime'])

0          2010-10-11 17:08:54
1          2010-10-12 17:17:01
2          2010-10-13 15:08:13
3          2010-10-13 18:11:59
4          2010-10-14 16:23:22
                  ...
7542140    2016-10-08 13:38:28
7542141    2016-09-30 17:25:23
7542142    2016-10-08 17:10:10
7542143    2016-10-08 17:30:50
7542144    2016-10-12 16:50:25
Name: PubTime, Length: 7521987, dtype: object

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("D:/Nikkidata/ren/csv/RRDAI1.csv")

C:\Users\mb95424\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (6,9,29,35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
aa = df.tail(10000)

In [6]:
aa.to_csv("D:/Nikkidata/ren/csv/tail10000.csv")