In [1]:
# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:/Nikkidata/ren/csv/RRDAI11.csv")

C:\Users\mb95424\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (8,30,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.dtypes

CertifiMark            object
BidAmount               int64
PubTime                object
APR                   float64
RepaymentPeriod         int64
GuaranteeWays          object
RepaySource            object
Bidders                 int64
ProjectStatus          object
CloseTime              object
Sex                    object
CreditScore             int64
CreditRating           object
Age                   float64
Education              object
MaritalStatus          object
LoanNumbers             int64
Credits                 int64
DefaultAmount         float64
SuccessfulNum           int64
TotalAmount             int64
DefaultTimes          float64
PaidOffTimes            int64
SeriousDefaultLoan      int64
Income                 object
hasHouse               object
houseLoan              object
hasCar                 object
carLoan                object
JobType                object
CompanyIndustry        object
CompanySize            object
CompanyPosition        object
ResidenceCity          object
WorkingHour            object
OthDebt                object
dtype: object

In [4]:
df = df.drop(columns=['CloseTime'])

In [5]:
df = df[(df.CreditScore > 0)]

In [6]:
df = df[(df.CreditScore < 500)]

In [7]:
df1 = df[(df.CreditScore > 209) & df['CreditRating'].str.contains('AA')]

In [8]:
df1.to_csv("D:/Nikkidata/ren/csv/AA.csv")

In [9]:
df21 = df[(df.CreditScore < 210) & (df.CreditScore > 179) & df['CreditRating'].str.contains('A') ]

In [10]:
df2 = df21[~df21['CreditRating'].str.contains('AA') ]

In [11]:
df2.to_csv("D:/Nikkidata/ren/csv/A.csv")

In [12]:
df3 = df[(df.CreditScore > 149) & df['CreditRating'].str.contains('B') & (df.CreditScore < 180) ]

In [13]:
df3.to_csv("D:/Nikkidata/ren/csv/B.csv")

In [14]:
df4 = df[(df.CreditScore > 129) & df['CreditRating'].str.contains('C') & (df.CreditScore < 150) ]

In [15]:
df4.to_csv("D:/Nikkidata/ren/csv/C.csv")

In [16]:
df5 = df[(df.CreditScore > 109) & df['CreditRating'].str.contains('D') & (df.CreditScore < 130) ]

In [17]:
df5.to_csv("D:/Nikkidata/ren/csv/D.csv")

In [18]:
df6 = df[(df.CreditScore > 99) & df['CreditRating'].str.contains('E') & (df.CreditScore < 110) ]

In [19]:
df6.to_csv("D:/Nikkidata/ren/csv/E.csv")

In [20]:
df7 = df[(df.CreditScore < 100) & df['CreditRating'].str.contains('HR') & (df.CreditScore > 0)]

In [21]:
df7.to_csv("D:/Nikkidata/ren/csv/HR.csv")

In [22]:
df1 = pd.read_csv("D:/Nikkidata/ren/csv/AA.csv")
df2 = pd.read_csv("D:/Nikkidata/ren/csv/A.csv")
df3 = pd.read_csv("D:/Nikkidata/ren/csv/B.csv")
df4 = pd.read_csv("D:/Nikkidata/ren/csv/C.csv")
df5 = pd.read_csv("D:/Nikkidata/ren/csv/D.csv")
df6 = pd.read_csv("D:/Nikkidata/ren/csv/E.csv")
df7 = pd.read_csv("D:/Nikkidata/ren/csv/HR.csv")

frames = [df1,df2,df3,df4,df5,df6,df7]
all_csv = pd.concat(frames)

C:\Users\mb95424\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (7,29,35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
all_csv.to_csv("D:/Nikkidata/ren/csv/RRDAI11.csv")

In [ ]:
# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("D:/Nikkidata/ren/csv/RRDAI11.csv")

In [4]:
wor_mapping={'1年（含）以下': 1,', 1年（含）以下': 1,'1年（含）以下, 1年（含）以下': 1,'1年（含）以下,': 1,'1年（含）以下 ,': 1,'1??????': 1,
             '1-3年（含）': 2, '1-3年（含）, 1-3年（含）': 2,', 1-3年（含）': 2,'1-3年（含）,': 2,'1-3年（含） ,': 2,'1-3年（含）,,': 2,'1-3????': 2,
             '3-5年（含）': 4, '3-5年（含）, 3-5年（含）': 4,', 3-5年（含）': 4,'3-5年（含）,': 4,'3-5????': 4,
             '5年以上': 5, '5年以上, 5年以上': 5, ', 5年以上': 5, '5年以上,': 5, '5年以上 ,': 5, '5???': 5, '5年以上, 5年以上, 5年以上': 5}
df['WorkingHour'] = df['WorkingHour'].map(wor_mapping)

In [5]:
Com_mapping={'10人以下': 1,', 10人以下': 1,'10人以下, 10人以下': 1,'10人以下,': 1,'10人以下, 10人以下, 10人以下': 1,'10人以下 , 10人以下': 1,'10???': 1,'10人以下 ,': 1,
             '10-100人': 2, '10-100人, 10-100人': 2,', 10-100人': 2,'10-100人,': 2,'10-100?': 2,'10-100人 ,': 2,'10-100人,,': 2,
             '100-500人': 4, '100-500人, 100-500人': 4,', 100-500人': 4,'100-500人,': 4,'100-500人 ,': 4,
             '500人以上': 5, '500人以上, 500人以上': 5, ', 500人以上': 5, '500以上': 5, '500人以上,': 5, '500???': 5,'500人以上 ,': 5}
df['CompanySize'] = df['CompanySize'].map(Com_mapping)

In [6]:
edu_mapping={'高中或以下': 1,', 高中或以下': 1,'高中或以下,': 1,'大专, 高中或以下': 1,'高中或以下, 大专': 1,'高以下': 1,'高中或以下, 研究生或以上': 1,
             '大专': 2, ', 大专': 2,'大专,': 2,'专科': 2,'本科, 大专': 2,'大专, 短期周转': 2,'大专, 本科': 2,
             '本科': 4, ', 本科': 4,'本科,': 4,'本科, 本科': 4,
             '研究生或以上': 5, '研究生或以上,': 5, ', 研究生或以上': 5}
df['Education'] = df['Education'].map(edu_mapping)

In [7]:
Inc_mapping={'1000元以下': 1000, '1000元以下,': 1000, ',1000元以下': 1000, '1001-2000元, 1001-2000元,': 1000, ', 1001-2000元': 1000, 
             '2000元以下': 2000, '2000元以下': 2000, '2000元以下': 2000, '1001-2000元': 2000, 
             '2000-5000元': 3500, '2000-5000元 ,': 3500, '2000-5000元,': 3500, ', 2000-5000元': 3500, '2000-5000元, 2000-5000元': 3500, ', 2000-5000元': 3500, 
             '5000-10000元': 7500, '5000-10000?': 7500, '5000-10000元,': 7500, '5000-10000元 ,': 7500, '5000-10000元, 5000-10000元': 7500, ', 5000-10000元': 7500, 
             '10000-20000元': 15000,'10000-20000元,,': 15000,'10000-20000元?': 15000,'10000-20000元 ,': 15000,'10000-20000元,': 15000,', 10000-20000元': 15000,'10000-20000元, 10000-20000元': 15000,
             '20000-50000元': 35000,'20000-50000元,': 35000,'20000-50000元 ,': 35000,', 20000-50000元': 35000,'20000-50000元, 20000-50000元': 35000,
             '50000元以上': 50000, '50000元以上 ,': 50000, ', 50000元以上': 50000, '50000元以上, 50000元以上,': 50000,}
df['Income'] = df['Income'].map(Inc_mapping)

In [8]:
Oth_mapping={'有': 0, '无': 1}
df['OthDebt'] = df['OthDebt'].map(Oth_mapping)

In [9]:
df['OthDebt'] = df['OthDebt'].fillna(0)

In [10]:
df['OthDebt'].value_counts()

0.0    6135904
1.0    1406241
Name: OthDebt, dtype: int64

In [11]:
df.to_csv("D:/Nikkidata/ren/csv/RRDAI12.csv")