In [1]:
import pandas as pd
import numpy as np

# Matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("D:/Nikkidata/ren/csv/score.csv")

In [85]:
df['CreditRating'].value_counts()

A     7195754
AA     667167
HR     583117
D       10197
E        8806
C        2534
B        1271
Name: CreditRating, dtype: int64

In [86]:
df8['CreditRating'].value_counts()

A     7195635
HR     582938
D        9827
E        8149
C        2408
AA       2031
B        1240
Name: CreditRating, dtype: int64

In [5]:
df = df.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [9]:
df1 = df[df['ProjectStatus'].isin([1]) & df['CreditRating'].str.contains('HR')]

In [10]:
df1.to_csv("D:/Nikkidata/ren/csv/HR1.csv")

In [17]:
df2 = df[df['ProjectStatus'].isin([4]) & df['CreditRating'].str.contains('C')]

In [18]:
df2.to_csv("D:/Nikkidata/ren/csv/C4.csv")

In [19]:
df3 = df[df['CreditRating'].str.contains('AA')]

In [20]:
df3.to_csv("D:/Nikkidata/ren/csv/aa.csv")

In [21]:
df4 =df[df.CreditScore < 500]

In [22]:
df4 = df4[(df4.CreditScore > 209) & df4['CreditRating'].str.contains('AA')]

In [23]:
df4.to_csv("D:/Nikkidata/ren/csv/209AA.csv")

In [38]:
df4 = df[df['CreditRating'].str.contains('A') ]

In [39]:
df4.to_csv("D:/Nikkidata/ren/csv/A.csv")

In [75]:
df41 = df[(df.CreditScore < 210) & (df.CreditScore > 179) & df['CreditRating'].str.contains('A') ]

In [78]:
df42 = df41[~df41['CreditRating'].str.contains('AA') ]

In [80]:
df42.to_csv("D:/Nikkidata/ren/csv/180A.csv")

In [42]:
df5 = df[(df.CreditScore > 149) & df['CreditRating'].str.contains('B') & (df.CreditScore < 180) ]

In [43]:
df5.to_csv("D:/Nikkidata/ren/csv/150B.csv")

In [44]:
df6 = df[df['CreditRating'].str.contains('B')]

In [45]:
df6.to_csv("D:/Nikkidata/ren/csv/B.csv")

In [46]:
df7 = df[(df.CreditScore < 100) & df['CreditRating'].str.contains('HR') ]

In [47]:
df7.to_csv("D:/Nikkidata/ren/csv/HR100.csv")

In [48]:
df7 = df[df['CreditRating'].str.contains('HR') ]

In [49]:
df7.to_csv("D:/Nikkidata/ren/csv/HR.csv")

In [72]:
df5 = df[(df.CreditScore > 129) & df['CreditRating'].str.contains('C') & (df.CreditScore < 150) ]

In [73]:
df5.to_csv("D:/Nikkidata/ren/csv/C.csv")

In [53]:
df5 = df[(df.CreditScore > 109) & df['CreditRating'].str.contains('D') & (df.CreditScore < 130) ]

In [54]:
df5.to_csv("D:/Nikkidata/ren/csv/D.csv")

In [55]:
df5 = df[(df.CreditScore > 99) & df['CreditRating'].str.contains('E') & (df.CreditScore < 110) ]

In [56]:
df5.to_csv("D:/Nikkidata/ren/csv/E.csv")

In [81]:
df1 = pd.read_csv("D:/Nikkidata/ren/csv/209AA.csv")
df2 = pd.read_csv("D:/Nikkidata/ren/csv/180A.csv")
df3 = pd.read_csv("D:/Nikkidata/ren/csv/150B.csv")
df4 = pd.read_csv("D:/Nikkidata/ren/csv/C.csv")
df5 = pd.read_csv("D:/Nikkidata/ren/csv/D.csv")
df6 = pd.read_csv("D:/Nikkidata/ren/csv/E.csv")
df7 = pd.read_csv("D:/Nikkidata/ren/csv/HR100.csv")

frames = [df1,df2,df3,df4,df5,df6,df7]
all_csv = pd.concat(frames)
#合并7个csv文件

In [82]:
all_csv.to_csv("D:/Nikkidata/ren/csv/correctCreditScore.csv")

In [83]:
df8 = pd.read_csv("D:/Nikkidata/ren/csv/correctCreditScore.csv")

In [84]:
df8.describe()

,Unnamed: 0,Unnamed: 0.1,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,...,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06,7.802228e+06
mean,3.339889e+06,4.164129e+06,8.806802e+00,7.119019e+00,5.593097e+00,1.604384e+00,8.480084e+00,1.673896e+02,8.109845e+00,1.223551e+00,...,1.157309e+00,4.384421e+00,9.246810e+00,5.977718e+00,2.354255e+00,2.256131e+00,1.569159e+00,5.644066e+01,5.710487e+01,4.164129e+06
std,2.184224e+06,2.470596e+06,2.327699e+00,1.830499e+00,2.851775e+00,6.256154e-01,2.299877e+00,4.416270e+01,1.031088e+00,2.578071e+00,...,2.731261e+00,3.422093e+00,2.623798e+00,4.406275e+00,2.455886e+00,2.292856e+00,3.233472e+00,7.740900e+00,8.579197e+00,2.470596e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,-9.900000e+01,6.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.164300e+01,2.092300e+01,0.000000e+00
25%,1.343964e+06,1.974852e+06,8.000000e+00,5.000000e+00,5.000000e+00,1.000000e+00,5.000000e+00,1.800000e+02,7.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.211200e+01,5.085400e+01,1.974852e+06
50%,3.294520e+06,4.136784e+06,1.000000e+01,8.000000e+00,5.000000e+00,2.000000e+00,1.000000e+01,1.800000e+02,8.000000e+00,0.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,8.000000e+00,3.000000e+00,3.000000e+00,0.000000e+00,5.826800e+01,5.959900e+01,4.136784e+06
75%,5.245077e+06,6.311269e+06,1.000000e+01,8.000000e+00,8.000000e+00,2.000000e+00,1.000000e+01,1.800000e+02,9.000000e+00,0.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,1.000000e+01,3.000000e+00,3.000000e+00,0.000000e+00,6.191200e+01,6.366400e+01,6.311269e+06
max,7.195634e+06,8.468845e+06,1.000000e+01,1.000000e+01,1.000000e+01,4.000000e+00,1.000000e+01,2.450000e+02,1.000000e+01,1.000000e+01,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,9.013300e+01,9.118900e+01,8.468845e+06

In [63]:
df8.describe()

,Unnamed: 0,Unnamed: 0.1,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,...,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06,9.048051e+06
mean,3.452201e+06,3.988168e+06,8.696036e+00,6.939072e+00,5.586105e+00,1.692201e+00,8.504220e+00,1.584018e+02,8.149820e+00,1.313519e+00,...,1.265471e+00,4.167274e+00,8.720236e+00,5.649330e+00,2.441430e+00,2.318170e+00,1.416817e+00,5.555839e+01,5.632235e+01,3.988168e+06
std,2.447701e+06,2.546369e+06,2.360241e+00,1.985777e+00,2.800993e+00,6.873384e-01,2.289442e+00,5.621863e+01,1.025519e+00,2.602025e+00,...,2.807229e+00,3.427531e+00,3.326055e+00,4.485268e+00,2.508871e+00,2.303661e+00,3.093401e+00,8.391606e+00,9.025323e+00,2.546369e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,-9.900000e+01,6.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.164300e+01,2.092300e+01,0.000000e+00
25%,1.074710e+06,1.682808e+06,8.000000e+00,5.000000e+00,5.000000e+00,1.000000e+00,5.000000e+00,1.800000e+02,7.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.018800e+01,4.928400e+01,1.682808e+06
50%,3.336723e+06,3.944820e+06,1.000000e+01,8.000000e+00,5.000000e+00,2.000000e+00,1.000000e+01,1.800000e+02,8.000000e+00,0.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,8.000000e+00,3.000000e+00,3.000000e+00,0.000000e+00,5.770600e+01,5.880000e+01,3.944820e+06
75%,5.598736e+06,6.206832e+06,1.000000e+01,8.000000e+00,8.000000e+00,2.000000e+00,1.000000e+01,1.800000e+02,9.000000e+00,0.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,1.000000e+01,3.000000e+00,3.000000e+00,0.000000e+00,6.174700e+01,6.343100e+01,6.206832e+06
max,7.860748e+06,8.468845e+06,1.000000e+01,1.000000e+01,1.000000e+01,4.000000e+00,1.000000e+01,2.450000e+02,1.000000e+01,1.000000e+01,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,9.013300e+01,9.118900e+01,8.468845e+06

In [79]:
df42.describe()

,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,MaritalStatus,LoanNumbers,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,...,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06,7.195635e+06
mean,9.002661e+00,7.357044e+00,5.645895e+00,1.493065e+00,8.410753e+00,1.800037e+02,8.066723e+00,9.934213e-01,8.038444e+00,3.420888e+00,...,9.048992e-01,4.753976e+00,9.993042e+00,6.452941e+00,2.152365e+00,2.102132e+00,1.673299e+00,5.760209e+01,5.818091e+01,4.482631e+06
std,2.196844e+00,1.530937e+00,2.857890e+00,5.011979e-01,2.328203e+00,1.387105e-01,1.036187e+00,2.437230e+00,2.729572e+00,3.035144e+00,...,2.495443e+00,3.307686e+00,2.420363e-01,4.237900e+00,2.310538e+00,2.212611e+00,3.315787e+00,6.540354e+00,7.744716e+00,2.304192e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,1.800000e+02,6.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.249400e+01,2.644100e+01,9.410000e+02
25%,1.000000e+01,5.000000e+00,5.000000e+00,1.000000e+00,5.000000e+00,1.800000e+02,7.000000e+00,0.000000e+00,8.000000e+00,1.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.375100e+01,5.309800e+01,2.481574e+06
50%,1.000000e+01,8.000000e+00,5.000000e+00,1.000000e+00,1.000000e+01,1.800000e+02,8.000000e+00,0.000000e+00,8.000000e+00,2.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,1.000000e+01,3.000000e+00,3.000000e+00,0.000000e+00,5.899100e+01,5.998900e+01,4.472124e+06
75%,1.000000e+01,8.000000e+00,8.000000e+00,2.000000e+00,1.000000e+01,1.800000e+02,9.000000e+00,0.000000e+00,1.000000e+01,5.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,1.000000e+01,3.000000e+00,3.000000e+00,2.000000e+00,6.215100e+01,6.386700e+01,6.480602e+06
max,1.000000e+01,1.000000e+01,1.000000e+01,3.000000e+00,1.000000e+01,2.050000e+02,1.000000e+01,1.000000e+01,1.000000e+01,1.080000e+02,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,9.013300e+01,8.859300e+01,8.468845e+06

In [71]:
df['CreditRating'].value_counts()

A     7195754
AA     667167
HR     583117
D       10197
E        8806
C        2534
B        1271
Name: CreditRating, dtype: int64

In [65]:
df2.describe()

,Unnamed: 0,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,MaritalStatus,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,...,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06,7.860749e+06
mean,4.532138e+06,9.031194e+00,7.341560e+00,5.682437e+00,1.502325e+00,8.383569e+00,1.800034e+02,8.079454e+00,9.206970e-01,8.110919e+00,...,8.394974e-01,4.796659e+00,9.993515e+00,6.453924e+00,2.097548e+00,2.057683e+00,1.596130e+00,5.754806e+01,5.817248e+01,4.532138e+06
std,2.280527e+06,2.135783e+00,1.519397e+00,2.803750e+00,5.011433e-01,2.338655e+00,1.327165e-01,1.036525e+00,2.361305e+00,2.654359e+00,...,2.415846e+00,3.240861e+00,2.328354e-01,4.231764e+00,2.267514e+00,2.173391e+00,3.243324e+00,6.545453e+00,7.709240e+00,2.280527e+06
min,9.410000e+02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,5.000000e+00,1.800000e+02,6.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.179300e+01,2.529700e+01,9.410000e+02
25%,2.573284e+06,1.000000e+01,5.000000e+00,5.000000e+00,1.000000e+00,5.000000e+00,1.800000e+02,7.000000e+00,0.000000e+00,8.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.369600e+01,5.306600e+01,2.573284e+06
50%,4.538471e+06,1.000000e+01,8.000000e+00,5.000000e+00,2.000000e+00,1.000000e+01,1.800000e+02,8.000000e+00,0.000000e+00,8.000000e+00,...,0.000000e+00,5.000000e+00,1.000000e+01,1.000000e+01,3.000000e+00,3.000000e+00,0.000000e+00,5.896600e+01,5.998900e+01,4.538471e+06
75%,6.503658e+06,1.000000e+01,8.000000e+00,8.000000e+00,2.000000e+00,1.000000e+01,1.800000e+02,9.000000e+00,0.000000e+00,1.000000e+01,...,0.000000e+00,5.000000e+00,1.000000e+01,1.000000e+01,3.000000e+00,3.000000e+00,0.000000e+00,6.212000e+01,6.383400e+01,6.503658e+06
max,8.468845e+06,1.000000e+01,1.000000e+01,1.000000e+01,3.000000e+00,1.000000e+01,2.050000e+02,1.000000e+01,1.000000e+01,1.000000e+01,...,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,9.013300e+01,8.859300e+01,8.468845e+06

In [66]:
df3.describe()

,Unnamed: 0,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,MaritalStatus,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,...,1240.000000,1240.0,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000,1240.000000
mean,153059.541935,6.046774,4.926613,6.662097,1.703226,9.197581,156.912097,8.962903,5.970968,9.554032,...,7.962903,0.0,5.790323,1.962097,6.721774,7.101613,5.790323,59.732583,61.019860,153059.541935
std,192358.543484,3.207297,2.833889,2.611117,0.955333,1.836012,6.739918,0.873931,2.514358,0.998134,...,2.360267,0.0,3.120590,3.589647,2.976504,3.296389,3.120590,9.133958,9.725657,192358.543484
min,7.000000,0.000000,0.000000,0.000000,1.000000,5.000000,150.000000,6.000000,2.000000,5.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,35.344000,38.603000,7.000000
25%,25461.250000,4.000000,3.000000,5.000000,1.000000,10.000000,151.000000,9.000000,5.000000,10.000000,...,5.000000,0.0,4.000000,0.000000,3.000000,3.000000,4.000000,54.201750,54.886000,25461.250000
50%,56666.000000,6.000000,3.000000,5.000000,1.000000,10.000000,155.000000,9.000000,5.000000,10.000000,...,8.000000,0.0,6.000000,0.000000,6.000000,10.000000,6.000000,58.985500,59.439500,56666.000000
75%,206692.750000,8.000000,8.000000,10.000000,3.000000,10.000000,160.000000,10.000000,8.000000,10.000000,...,10.000000,0.0,8.000000,3.000000,10.000000,10.000000,8.000000,64.587000,65.585250,206692.750000
max,893515.000000,10.000000,10.000000,10.000000,3.000000,10.000000,177.000000,10.000000,10.000000,10.000000,...,10.000000,0.0,10.000000,10.000000,10.000000,10.000000,10.000000,89.525000,91.189000,893515.000000

In [74]:
df5.describe()

,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,MaritalStatus,LoanNumbers,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,...,2408.000000,2408.0,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000,2408.000000
mean,6.583887,4.943937,6.360050,1.806478,9.379153,138.107143,8.920266,5.696844,9.497508,7.245847,...,7.657807,0.0,5.148671,1.625000,6.834302,7.006229,5.146179,57.580311,59.118521,197322.502492
std,3.077118,2.841721,2.699523,0.981300,1.649216,6.093932,0.883936,2.527513,1.013409,5.413230,...,2.527952,0.0,3.402068,3.245295,2.922975,3.252362,3.400710,9.296986,9.595113,229001.890389
min,0.000000,0.000000,0.000000,1.000000,5.000000,130.000000,6.000000,0.000000,5.000000,1.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,3.000000,0.000000,35.355000,32.705000,5.000000
25%,4.000000,3.000000,5.000000,1.000000,10.000000,132.000000,9.000000,5.000000,10.000000,3.000000,...,5.000000,0.0,2.000000,0.000000,3.000000,3.000000,2.000000,51.074750,52.527750,28044.250000
50%,8.000000,3.000000,5.000000,1.000000,10.000000,138.000000,9.000000,5.000000,10.000000,6.000000,...,8.000000,0.0,4.000000,0.000000,6.000000,10.000000,4.000000,56.717500,57.634000,88575.000000
75%,10.000000,8.000000,8.000000,3.000000,10.000000,144.000000,10.000000,8.000000,10.000000,9.000000,...,10.000000,0.0,8.000000,0.000000,10.000000,10.000000,8.000000,62.757250,63.609250,294041.000000
max,10.000000,10.000000,10.000000,3.000000,10.000000,149.000000,10.000000,10.000000,10.000000,30.000000,...,10.000000,0.0,10.000000,10.000000,10.000000,10.000000,10.000000,88.168000,88.168000,894523.000000

In [68]:
df5.describe()

,Unnamed: 0,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,MaritalStatus,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,9827.000000,9827.000000,9827.000000,9827.000000,9827.000000,9827.000000,9827.00000,9827.000000,9827.000000,9827.000000,...,9827.000000,9827.0,9827.000000,9827.000000,9827.000000,9827.000000,9827.000000,9827.000000,9827.000000,9827.000000
mean,351004.969370,6.803094,4.968963,5.645467,1.824972,9.327363,116.61677,8.865269,5.578610,9.245141,...,7.431159,0.0,4.984024,1.042332,6.027984,5.775008,4.981581,54.765062,56.205961,351004.969370
std,271068.766044,2.398647,2.833954,2.643111,0.984769,1.706177,5.26322,0.843168,2.428041,1.204783,...,2.566363,0.0,3.715844,2.641524,3.015586,3.267682,3.714518,8.552705,8.502124,271068.766044
min,4.000000,0.000000,0.000000,0.000000,1.000000,5.000000,110.00000,6.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,3.000000,0.000000,29.350000,28.571000,4.000000
25%,79695.500000,6.000000,3.000000,3.000000,1.000000,10.000000,112.00000,8.000000,5.000000,8.000000,...,5.000000,0.0,2.000000,0.000000,3.000000,3.000000,2.000000,48.729000,50.315500,79695.500000
50%,309851.000000,8.000000,3.000000,5.000000,1.000000,10.000000,116.00000,9.000000,5.000000,10.000000,...,8.000000,0.0,4.000000,0.000000,6.000000,3.000000,4.000000,53.932000,55.470000,309851.000000
75%,584693.000000,8.000000,8.000000,8.000000,3.000000,10.000000,121.00000,9.000000,8.000000,10.000000,...,10.000000,0.0,10.000000,0.000000,10.000000,10.000000,10.000000,60.089000,60.808000,584693.000000
max,898392.000000,10.000000,10.000000,10.000000,4.000000,10.000000,129.00000,10.000000,10.000000,10.000000,...,10.000000,0.0,10.000000,10.000000,10.000000,10.000000,10.000000,88.177000,87.336000,898392.000000

In [69]:
df6.describe()

,Unnamed: 0,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,MaritalStatus,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,...,8149.000000,8149.0,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000,8149.000000
mean,476674.691741,6.769174,5.219291,5.351700,1.898883,9.229967,104.060253,8.802184,5.629402,9.047981,...,6.761811,0.0,4.685237,0.617745,5.779605,5.187140,4.682783,52.643366,53.725670,476674.691741
std,231093.783065,2.224590,2.655547,2.531588,0.995491,1.804886,2.863346,0.794025,2.395965,1.223855,...,2.687511,0.0,3.813742,2.032875,2.986678,3.081921,3.814826,8.341194,7.930112,231093.783065
min,58.000000,0.000000,0.000000,0.000000,1.000000,5.000000,100.000000,6.000000,0.000000,2.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,31.160000,31.628000,58.000000
25%,310234.000000,6.000000,3.000000,3.000000,1.000000,10.000000,101.000000,8.000000,5.000000,8.000000,...,5.000000,0.0,2.000000,0.000000,3.000000,3.000000,2.000000,46.583000,48.087000,310234.000000
50%,498090.000000,8.000000,5.000000,5.000000,1.000000,10.000000,104.000000,9.000000,5.000000,10.000000,...,5.000000,0.0,4.000000,0.000000,6.000000,3.000000,4.000000,51.995000,53.166000,498090.000000
75%,670386.000000,8.000000,8.000000,8.000000,3.000000,10.000000,106.000000,9.000000,8.000000,10.000000,...,10.000000,0.0,10.000000,0.000000,10.000000,10.000000,10.000000,57.944000,58.370000,670386.000000
max,896858.000000,10.000000,10.000000,10.000000,4.000000,10.000000,109.000000,10.000000,10.000000,10.000000,...,10.000000,0.0,10.000000,10.000000,10.000000,10.000000,10.000000,85.544000,86.888000,896858.000000

In [70]:
df7.describe()

,Unnamed: 0,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,Age,Education,MaritalStatus,...,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car,PaidOffTotalRation,scoreAPR,score,ID
count,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,...,582938.00000,582938.0,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000,582938.000000
mean,386725.892090,6.470791,4.254856,4.934912,2.970376,9.303717,13.398204,8.610923,3.880274,8.422666,...,4.03123,0.0,0.200062,0.308894,4.694190,4.012734,0.139963,42.155661,43.854227,386725.892090
std,222057.863621,2.567713,2.557216,2.695308,0.280304,1.731072,17.704703,0.805986,2.617439,1.960452,...,3.48940,0.0,1.217484,1.408496,2.811676,2.367816,0.993825,7.054365,7.168145,222057.863621
min,13.000000,0.000000,0.000000,0.000000,1.000000,5.000000,-99.000000,6.000000,0.000000,0.000000,...,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,21.643000,20.923000,13.000000
25%,196597.250000,6.000000,3.000000,3.000000,3.000000,10.000000,0.000000,8.000000,2.000000,8.000000,...,0.00000,0.0,0.000000,0.000000,3.000000,3.000000,0.000000,37.184000,39.187000,196597.250000
50%,390441.500000,6.000000,3.000000,5.000000,3.000000,10.000000,20.000000,9.000000,5.000000,8.000000,...,5.00000,0.0,0.000000,0.000000,3.000000,3.000000,0.000000,41.611000,43.463000,390441.500000
75%,575074.250000,8.000000,5.000000,5.000000,3.000000,10.000000,20.000000,9.000000,5.000000,10.000000,...,5.00000,0.0,0.000000,0.000000,6.000000,3.000000,0.000000,46.022000,47.645000,575074.250000
max,896748.000000,10.000000,10.000000,10.000000,4.000000,10.000000,99.000000,10.000000,10.000000,10.000000,...,10.00000,0.0,10.000000,10.000000,10.000000,10.000000,10.000000,87.609000,87.609000,896748.000000