In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("D:/Nikkidata/ren/csv/RRDAI1.csv")

C:\Users\mb95424\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (6,9,29,35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.dtypes

BidAmount               int64
APR                   float64
RepaymentPeriod         int64
ProjectStatus          object
Sex                    object
CreditScore             int64
CreditRating           object
Age                   float64
Education              object
MaritalStatus          object
LoanNumbers             int64
Credits                 int64
SuccessfulNum           int64
DefaultTimes          float64
PaidOffTimes            int64
SeriousDefaultLoan      int64
Income                 object
hasHouse               object
houseLoan              object
hasCar                 object
carLoan                object
CompanySize            object
WorkingHour            object
OthDebt                object
dtype: object

In [5]:
df = df.drop(columns=['CompanyIndustry','JobType','CompanyPosition','ResidenceCity','CloseTime','Bidders','PubTime',
                     'CertifiMark','GuaranteeWays','RepaySource','DefaultAmount','TotalAmount','PubTime',])

In [7]:
df['SuccessTotalRation'] = df.SuccessfulNum / df.LoanNumbers

In [48]:
df.head()

,BidAmount,APR,RepaymentPeriod,ProjectStatus,Sex,CreditScore,CreditRating,Age,Education,MaritalStatus,...,houseLoan,hasCar,carLoan,CompanySize,WorkingHour,OthDebt,SuccessTotalRation,BidIncomeRation,House,Car
0,5000,12.5,3,已流标,男,210,AA,33.0,研究生或以上,未婚,...,0.0,0.0,0.0,4.0,1.0,NaN,0.666667,0.666667,0.0,0.0
1,3000,5.0,6,已还清,男,210,AA,34.0,本科,未婚,...,1.0,2.0,1.0,2.0,2.0,NaN,0.793103,0.085714,3.0,3.0
2,3000,10.0,3,已还清,女,210,AA,40.0,研究生或以上,未婚,...,0.0,0.0,0.0,4.0,2.0,NaN,0.500000,0.085714,0.0,0.0
3,5000,18.0,18,已还清,男,210,AA,33.0,研究生或以上,未婚,...,0.0,0.0,0.0,4.0,1.0,NaN,0.666667,0.666667,0.0,0.0
4,3050,8.0,3,已流标,女,110,D,31.0,本科,未婚,...,0.0,0.0,0.0,1.0,1.0,NaN,0.000000,1.525000,0.0,0.0

In [ ]:
df['hasHouse'].value_counts()

In [21]:
Hou_mapping={'空': 0, '无房产': 0, '有房产': 2}
df['hasHouse'] = df['hasHouse'].map(Hou_mapping)

In [22]:
Loa_mapping={'无房贷': 0, 'False': 0, '有房贷': 1}
df['houseLoan'] = df['houseLoan'].map(Loa_mapping)

In [25]:
df['House'] = df.hasHouse + df.houseLoan

In [30]:
car_mapping={'空': 0, '无车产': 0, '有车产': 2}
df['hasCar'] = df['hasCar'].map(car_mapping)

In [31]:
CLoa_mapping={'无车贷': 0, 'False': 0, '有车贷': 1}
df['carLoan'] = df['carLoan'].map(CLoa_mapping)

In [32]:
df['Car'] = df.hasCar + df.carLoan

In [38]:
Oth_mapping={'有': 0, '无': 1}
df['OthDebt'] = df['OthDebt'].map(Oth_mapping)

In [41]:
wor_mapping={'1年（含）以下': 1,', 1年（含）以下': 1,'1年（含）以下, 1年（含）以下': 1,'1年（含）以下,': 1,'1年（含）以下 ,': 1,'1??????': 1,
             '1-3年（含）': 2, '1-3年（含）, 1-3年（含）': 2,', 1-3年（含）': 2,'1-3年（含）,': 2,'1-3年（含） ,': 2,'1-3年（含）,,': 2,'1-3????': 2,
             '3-5年（含）': 4, '3-5年（含）, 3-5年（含）': 4,', 3-5年（含）': 4,'3-5年（含）,': 4,'3-5????': 4,
             '5年以上': 5, '5年以上, 5年以上': 5, ', 5年以上': 5, '5年以上,': 5, '5年以上 ,': 5, '5???': 5, '5年以上, 5年以上, 5年以上': 5}
df['WorkingHour'] = df['WorkingHour'].map(wor_mapping)

In [49]:
df['OthDebt'].value_counts()

0.0    4545316
1.0    1497958
Name: OthDebt, dtype: int64

In [44]:
Com_mapping={'10人以下': 1,', 10人以下': 1,'10人以下, 10人以下': 1,'10人以下,': 1,'10人以下, 10人以下, 10人以下': 1,'10人以下 , 10人以下': 1,'10???': 1,'10人以下 ,': 1,
             '10-100人': 2, '10-100人, 10-100人': 2,', 10-100人': 2,'10-100人,': 2,'10-100?': 2,'10-100人 ,': 2,'10-100人,,': 2,
             '100-500人': 4, '100-500人, 100-500人': 4,', 100-500人': 4,'100-500人,': 4,'100-500人 ,': 4,
             '500人以上': 5, '500人以上, 500人以上': 5, ', 500人以上': 5, '500以上': 5, '500人以上,': 5, '500???': 5,'500人以上 ,': 5}
df['CompanySize'] = df['CompanySize'].map(Com_mapping)

In [54]:
df['Education'].value_counts()

4.0    699285
2.0    636978
1.0    317778
5.0     22904
Name: Education, dtype: int64

In [53]:
edu_mapping={'高中或以下': 1,', 高中或以下': 1,'高中或以下,': 1,'大专, 高中或以下': 1,'高中或以下, 大专': 1,'高以下': 1,'高中或以下, 研究生或以上': 1,
             '大专': 2, ', 大专': 2,'大专,': 2,'专科': 2,'本科, 大专': 2,'大专, 短期周转': 2,'大专, 本科': 2,
             '本科': 4, ', 本科': 4,'本科,': 4,'本科, 本科': 4,
             '研究生或以上': 5, '研究生或以上,': 5, ', 研究生或以上': 5}
df['Education'] = df['Education'].map(edu_mapping)

In [55]:
df.to_csv("D:/Nikkidata/ren/csv/score_num.csv")

In [14]:
Inc_mapping={'1000元以下': 1000, '1000元以下,': 1000, ',1000元以下': 1000, '1001-2000元, 1001-2000元,': 1000, ', 1001-2000元': 1000, 
             '2000元以下': 2000, '2000元以下': 2000, '2000元以下': 2000, '1001-2000元': 2000, 
             '2000-5000元': 3500, '2000-5000元 ,': 3500, '2000-5000元,': 3500, ', 2000-5000元': 3500, '2000-5000元, 2000-5000元': 3500, ', 2000-5000元': 3500, 
             '5000-10000元': 7500, '5000-10000?': 7500, '5000-10000元,': 7500, '5000-10000元 ,': 7500, '5000-10000元, 5000-10000元': 7500, ', 5000-10000元': 7500, 
             '10000-20000元': 15000,'10000-20000元,,': 15000,'10000-20000元?': 15000,'10000-20000元 ,': 15000,'10000-20000元,': 15000,', 10000-20000元': 15000,'10000-20000元, 10000-20000元': 15000,
             '20000-50000元': 35000,'20000-50000元,': 35000,'20000-50000元 ,': 35000,', 20000-50000元': 35000,'20000-50000元, 20000-50000元': 35000,
             '50000元以上': 50000, '50000元以上 ,': 50000, ', 50000元以上': 50000, '50000元以上, 50000元以上,': 50000,}
df['Income'] = df['Income'].map(Inc_mapping)

In [16]:
df['BidIncomeRation'] = df.BidAmount / df.Income